/* Slider Styles */
.rangeSliderContainer{
    display: flex;
    width:80vw;
    min-width:320px;
    height: 5vh;
}
.rc-slider-mark {
    top: 28px !important;
    font-size: 14px !important;
}
.rc-slider-step{
    height:9px !important;
}
  